.card-review {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 35px 30px 45px;
}

@media screen and (max-width: 960px) {
  .card-review {
    width: 100%;
    gap: 0;
    padding: 28px;

    img {
      width: 50%;
    }
  }
}